@font-face {
    font-family: 'Forced Square';
    src: url('../fonts/forcedsquare.ttf') format('truetype');
  }
  
.add-form-container {
    font-family: 'Forced Square', monospace;
    background-color: #2158ee;
    width: 320px;
    margin: auto;
    padding-bottom: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.add-header {
    display: flex;
    align-items: center;
    background-color: #2158ee;
    color: white;
    padding: 8px 12px;
    font-family: 'Forced Square', monospace; 
  }
  
.carta-icon {
    width: 28px;
    margin-right: 8px;
  }
  
.titulo-cadastro {
    font-size: 28px;
  }
  
.add-form {
    width: 93%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #f4f1dc;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
.add-form label {
    font-weight: 100;
    font-family: 'Forced Square', monospace;
    font-size: 18px;
    color: black;
    text-align: left;
    display: block;
    margin-bottom: -4px;
    margin-left: 2px;
  }
  
.add-form input,
.add-form select {
    padding: 4px;
    font-size: 16px;
    font-family: 'Forced Square', monospace;
    border: none;
    box-shadow: inset 2px 2px 0px #ccc;
    background-color: white;
  }
  
.add-form input[type="date"] {
    font-family: 'Forced Square', monospace;
    font-size: 16px;
    padding: 4px;
    border: none;
    box-shadow: inset 2px 2px 0px #ccc;
    background-color: white;
  }
  
  
.carta-button {
    background: none;
    border: none;
    padding: 0;
    margin-left: auto;
    margin-top: 10px;
    cursor: url('../pointer/pointer.cur'), pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.carta-button img {
    width: 60px;
    height: 50px;
    image-rendering: pixelated;
    pointer-events: auto;
  }
  
.edit-button {
    margin: 10px auto 0;
    display: block;
    background-color: #4ba2f2;
    color: white;
    font-size: 20px;
    font-family: 'Forced Square', monospace;
    padding: 4px 8px;
    border: none;
    cursor: url('../pointer/pointer.cur'), pointer;
  }
  
.success-message,
.error-message {
  margin: 10px auto;
  padding: 10px;
  width: 86%;
  font-family: 'Forced Square', monospace;
  font-size: 18px;
  text-align: center;

}

.success-message {
  background-color: #d4edda;
  color: #023b10;
  
}

.error-message {
  background-color: #f8d7da;
  color: #660710;

}
